$primary-color: rgba(167, 98, 245, 0.1);
$primary-color-2: rgba(167, 98, 245, 1);
$secondary-color: rgba(233, 247, 105, 0.01);

$primary-color: rgba(167, 98, 245, 0.1);
$primary-color-2: rgba(167, 98, 245, 1);
$secondary-color: rgba(233, 247, 105, 0.01);
$blue-background: #C2E9F6;
$blue-border: #72cce3;
$blue-color: #96dcee;
$yellow-background: #fffaa8;
$yellow-border: #f5eb71;
$indigo-background: #808fc7;
$indigo-border: #5d6baa;
$indigo-color: #6b7abb;
$gray-border: #e8e8ea;
$gray-dots: #e8e8ea;
$white: #fff;