.progress {
    &-container {
        background-color: transparent;
        height: 10px;
        width: 90%;
    }

    &-bar {
        background-image: linear-gradient(to right,
                rgba(167, 98, 245, 0.7),
                rgba(105, 226, 247, 0.7));
        height: 10px;
        width: 0%;
    }
}