@use '../abstracts/' as *;

.theme {
    // margin-left: -50px;
    // padding: 0;
    // margin-top: 220px;
    transform: scale(.2);
    position: fixed;
    z-index: 100000;
    right: -4rem;
    top: -1.5rem;
    // left: 0;

    .toggle--checkbox {

        display: none;

        &:checked {
            &~.background {
                background: $indigo-background;
            }

            &+.toggle--label {

                background: $indigo-color;
                border-color: $indigo-border;

                .toggle--label-background {
                    left: 60px;
                    width: 5px;

                    &:before {
                        width: 5px;
                        height: 5px;
                        top: -25px;
                    }

                    &:after {
                        width: 5px;
                        height: 5px;
                        left: -30px;
                        top: 20px;
                    }
                }

                &:before {
                    background: $white;
                    border-color: $gray-border;
                    animation-name: switch;
                    animation-duration: 350ms;
                    animation-fill-mode: forwards;
                }

                .toggle--checkbox:checked+.toggle--label:after {
                    transition-delay: 350ms;
                    opacity: 1;
                }
            }
        }

    }

    .toggle--label {
        cursor: pointer;
        width: 200px;
        height: 100px;
        background: $blue-color;
        border-radius: 100px;
        border: 5px solid $blue-border;
        display: flex;
        position: relative;
        transition: all 350ms ease-in;

        &-background {
            width: 10px;
            height: 5px;
            border-radius: 5px;
            position: relative;
            background: $white;
            left: 135px;
            top: 45px;
            transition: all 150ms ease-in;

            &:before {
                content: "";
                position: absolute;
                top: -5px;
                width: 40px;
                height: 5px;
                border-radius: 5px;
                background: $white;
                left: -20px;
                transition: all 150ms ease-in;
            }

            &:after {
                content: "";
                position: absolute;
                top: 5px;
                width: 40px;
                height: 5px;
                border-radius: 5px;
                background: $white;
                left: -10px;
                transition: all 150ms ease-in;
            }
        }

        &:before {
            animation-name: reverse;
            animation-duration: 350ms;
            animation-fill-mode: forwards;
            transition: all 350ms ease-in;
            content: "";
            width: 72px;
            height: 72px;
            border: 5px solid $yellow-border;
            top: 4px;
            left: 4px;
            position: absolute;
            border-radius: 82px;
            background: $yellow-background;
        }

        .toggle--label:after {
            transition-delay: 0ms;
            transition: all 250ms ease-in;
            position: absolute;
            content: "";
            box-shadow: $gray-dots -13px 0 0 2px, $gray-dots -24px 14px 0 -2px;
            left: 143px;
            top: 23px;
            width: 10px;
            height: 10px;
            background: transparent;
            border-radius: 50%;
            opacity: 0;
        }
    }
}